In [139]:
#pacotes necessarios
from numpy import mean, median, std
import pandas as pd

In [101]:
lista_notas = [8,7,7,7,7,8,5,2,4,4,10,10,10,10,4,6,7,7,7,8]
lista_idades = [10,11,12,9,10,11,10,10,10,10,11,11,10,9,10,10,11,11,10,10]

In [57]:
lista_notoas

[8, 7, 7, 7, 7, 8, 5, 2, 4, 4, 10, 10, 10, 10, 4, 6, 7, 7, 7, 8]

In [59]:
lista_idades

[10, 11, 12, 9, 10, 11, 10, 10, 10, 10, 11, 11, 10, 9, 10, 10, 11, 11, 10, 10]

In [103]:
#calculando a média e a mediana para ntoas
print("A média das ntoas é:", mean(lista_notas))
print("A mediana das ntoas é:", median(lista_notas))

#calculando a média e a mediana para idades
print("A média das ntoas é:", mean(lista_idades))
print("A mediana das ntoas é:", median(lista_idades))

A média das ntoas é: 6.9
A mediana das ntoas é: 7.0
A média das ntoas é: 10.3
A mediana das ntoas é: 10.0

In [107]:
dict = {'notas' : lista_notas, 'idades': lista_idades}

In [109]:
df = pd.DataFrame(dict)

In [111]:
df

    notas  idades
0       8      10
1       7      11
2       7      12
3       7       9
4       7      10
5       8      11
6       5      10
7       2      10
8       4      10
9       4      10
10     10      11
11     10      11
12     10      10
13     10       9
14      4      10
15      6      10
16      7      11
17      7      11
18      7      10
19      8      10

In [115]:
#Medias e Medianas - notas e idade
#50% inferior
#notas
mean(df.notas.sort_values(ascending=True)[0:10])

5.3

In [121]:
#50% superiores
#notas
mean(df.notas.sort_values(ascending=True)[10:20])

8.5

In [123]:
#50% inferior
#idades
mean(df.idades.sort_values(ascending=True)[0:10])

9.8

In [125]:
#50% superiores
#idades
mean(df.idades.sort_values(ascending=True)[10:20])

10.8

In [127]:
df_ordenado_idades = df.sort_values(by=['idades'])
df_ordenado_idades

    notas  idades
3       7       9
13     10       9
0       8      10
15      6      10
14      4      10
12     10      10
18      7      10
8       4      10
9       4      10
6       5      10
4       7      10
7       2      10
19      8      10
10     10      11
11     10      11
5       8      11
1       7      11
16      7      11
17      7      11
2       7      12

In [133]:
#média das notas para 50% menores idades
df_recorte_menores_idades = df_ordenado_idades[0:10]
df_recorte_menores_idades
mean(df_recorte_menores_idades.notas)

6.5

In [137]:
#média das notas para 50% maiores idades
df_recorte_maiores_idades = df_ordenado_idades[10:20]
df_recorte_maiores_idades
mean(df_recorte_maiores_idades.notas)

7.3

In [151]:
#coeficiente de variaçao notas
cv_notas = std(lista_notas) / mean(lista_notas)
cv_notas*100

31.71894004092651

In [153]:
#coeficiente de variaçao idades
cv_idades = std(lista_idades) / mean(lista_idades)
cv_idades*100

6.933425658779465

In [155]:
#correlação
from scipy import stats

In [159]:
stats.pearsonr(df.notas,df.idades)

PearsonRResult(statistic=0.14715498922948964, pvalue=0.5358452517595163)